header {
    display: flex;
    background-color: #04a6bed8;
    color: white; 
    text-align: left; 
    padding: 10px 0;
    margin: 0;
}

#logo {
    max-width: 200px; 
    height: auto;
    margin-left: 5%;
}
#logContainer{
    margin: 5%;
    height: 700px;
    border-radius: 10%;
    background-color: #04a6bed8;
}
#main-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
#container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 900px;
    height: 500px;
    gap: 10px;
    padding: 10px; 
}

#containerPets { 
    display: grid; 
    margin-top: 5%;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px; 
    padding: 10px; 
}

#containerPersons { 
    display: grid;
    margin-top: 5%;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 10px; 
    padding: 10px; 
}

.pet-container,
.person-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.pet-image {
    width: 50%; 
    height: auto; 
    object-fit: cover; 
}

.person-image {
    width: 50%;
    height: auto; 
    object-fit: cover; 
}

.pet-name,
.person-name {
    text-align: center; 
    margin-top: 5px; 
}

#contenedor-principal {
    padding: 30px;
    overflow: hidden;

}

#titulo-principal {
    font-size: 48px;
    color: #4CAF50;
}

#descripcion {
    font-size: 24px;
    color: #555;
}

#imatgeadopcio {
    width: 100%; /* Asegúrate de que ocupe el 100% del contenedor */
    height: 350px;
    border-top: 2px solid gray; /* Borde superior gris */
    border-bottom: 2px solid gray; /* Borde inferior gris */
    box-sizing: border-box; /* Asegura que los bordes se incluyan en el ancho */
    display: block; /* Elimina cualquier espacio en línea extra alrededor de la imagen */
}


#boton-entrar {
    margin-top: 40px;
   
    padding: 15px 30px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block; /* Permite centrar el botón */
    text-align: center; /* Alinea el texto dentro del botón */
}

#boton-entrar:hover {
    background-color: #45a049;
}
